/* BEM -- MOBILE FIRST */
/*==============================
Add Global Text Parametrs
===============================*/
/* :root {
  --base-color-1: #f18a07;
  --base-color-2: #f2f2f2;
  --base-color-3: #1b1b1b;
  --box-shadow-color: rgb(92 44 25 / 70%);
  --box-shadow: 10px 10px 50px var(--box-shadow-color);
  --color-white: #fff;
  --color-black: #000;
  --color-grey: rgb(204 204 204 / 50%);
  --font-base: 'Inter', sans-serif;
  --transition-duration: 0.5s;
  --largerScale: 1.01;
  --transporent: rgba(255, 255, 255, 0);} /* Прозрачный фон */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*Hero section*/
hr {
  margin-bottom: 50px;
  color: var(--base-color-1);
}
.project__content-section {
  margin-bottom: 50px;
}
.project__image {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.project__image,
.project__description,
.project__titel {
  margin-bottom: 20px;
}
.project__buttons .project__button {
  margin-right: 10px;
  margin-bottom: 10px;
}
.project__buttons .project__button:last-child {
  margin-right: 0px;
  margin-bottom: 0px;
}

@media all and (min-width: 768px) {
  hr {
    margin-bottom: 100px;
  }
  .project__content-section {
    margin-bottom: 100px;
  }
  .project__title--center {
    text-align: center;
  }
  .project__description--center {
    text-align: center;
  }
  .project__buttons {
    text-align: center;
  }
}

/* Purpose / Objective */
@media all and (min-width: 768px) {
  .project__title-text,
  .project__title-image {
    display: flex;
    align-items: center;
  }
  .project__title-text.project__title-text--reverse,
  .project__title-image.project__title-image--reverse {
    flex-direction: row-reverse;
  }
  .project__purpose {
    margin-bottom: 30px;
  }
  .project__purpose .project__title {
    margin-right: 2%;
  }
  .project__objective {
    margin-top: 30px;
  }
  .project__objective .project__title {
    margin-left: 4%;
  }
  .project__objective .project__description {
    text-align: end;
  }
  .project__title-text .project__title {
    min-width: 46%;
    text-align: center;
  }
}

/* Duration */
.project__duration {
  margin-bottom: 20px;
}
.project__authentication {
  margin-bottom: 50px;
}

@media all and (min-width: 768px) {
  .project__duration .project__title-image .project__image {
    width: 46%;
    margin-right: 4%;
  }
  .project__backend .project__title-image .project__image {
    width: 46%;
    margin-left: 4%;
    margin-right: 0%;
  }
  .project__authentication {
    margin-bottom: 100px;
  }
}

/* Server / Client Side  */
.project__side-details,
.project__retrospective {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.project__side-details {
  font-size: 16px;
  line-height: 1.5em;
}
.project__arrow-link {
  color: var(--base-color-4);
  transition-property: color;
  transition-duration: var(--transition-duration);
}
.project__arrow-link:hover {
  color: var(--base-color-1);
}
@media all and (min-width: 768px) {
  .project__server-side {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .project__server-side--title {
    position: absolute;
    margin: 0;
  }
  .project__side-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .project__side-item {
    width: 48%;
    margin-right: 2%;
  }
  .project__side-item:nth-child(2n) {
    margin-right: 0;
  }
}
@media all and (min-width: 1024px) {
  .project__side-details {
    flex-wrap: nowrap;
  }
  .project__side-item:nth-child(2n) {
    margin-right: 20px;
  }
  .project__side-item:last-child {
    margin-right: 0px;
  }
}

/* Register login  */
@media all and (min-width: 768px) {
  .project__profile--images .project__image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 0;
  }
  .project__profile--images .project__image:last-child {
    margin-right: 0;
  }
  .project__profile--images {
    display: flex;
    justify-content: space-between;
  }
}

/* Retrospective */
@media all and (min-width: 768px) {
  .project__retrospective--item {
    display: flex;
    align-items: center;
  }
  .project-retrospective--titel {
    min-width: 46%;
  }
  .margin-bottom {
    margin-bottom: 40px;
  }
}
